.header{
    padding: 36px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo{
    margin-left: 80px;
    width: 76px;
    height: 30px;
}

.header-tabs-container{
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.header-tab{
    cursor:pointer;
    margin: 0px 24px;
}

.header-tab-active{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 70%;
    font-weight: bold;
}

:hover.header-tab-active {
    color: #333438;
}